<launch>
  <!-- Do not use sim-time -->
  <param name="use_sim_time" value="false"/>

  <!-- 1) Nodelet-Manager fpr depth_image_proc -->
  <node pkg="nodelet" type="nodelet" name="depth_nodelet_manager"
        args="manager" output="screen"/>

  <!-- 2) load point_cloud_xyz as Nodelet -->
  <node pkg="nodelet" type="nodelet" name="depth_cloud_xyz"
        args="load depth_image_proc/point_cloud_xyz depth_nodelet_manager"
        output="screen">
    <!-- remappen to Unity-Bridge Topics -->
    <remap from="image_rect"  to="/Unity_ROS_message_Rx/OurCar/Sensors/DepthCamera/image_raw"/>
    <remap from="camera_info" to="/Unity_ROS_message_Rx/OurCar/Sensors/DepthCamera/camera_info"/>
    <remap from="points"      to="/depth/points"/>
  </node>

  <!-- 3) OctoMap-Server -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server"
        output="screen">
    <param name="frame_id"   value="OurCar/INS"/>
    <param name="resolution" value="0.1"/>
    <param name="latch"      value="true"/>
    <remap from="cloud_in"   to="/depth/points"/>
  </node>
</launch>

